[submodule "vendor/plugins/embedded-actions"]
	path = vendor/plugins/embedded-actions
	url = https://github.com/sd/embedded-actions.git
[submodule "vendor/plugins/MINT-rails"]
	path = vendor/plugins/MINT-rails
	url = git://github.com/sfeu/MINT-rails.git
